<div data-controller="category">
  <div class="container mx-auto mt-5">
    <div class="cards">
      <a href="/mulher" style="text-decoration: none;" data-action="click->category#greet">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://orapois.blogfolha.uol.com.br/files/2020/04/Mosteiro-dos-Jero%CC%81nimos.png)">
          Museus
        </div>
      </a>
      <a href="/homem" style="text-decoration: none;">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.iatiseguros.pt/wp-content/uploads/sites/2/2019/03/po%C3%A7o-azul-geres.jpg)">
          Lagoas
        </div>
      </a>
      <a href="" style="text-decoration: none;">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.vagamundos.pt/wp-content/uploads/2019/12/1-28-1.jpg)">
          Trilhos
        </div>
      </a>
      <a href="/local" style="text-decoration: none;">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://jtm.com.mo/wp-content/uploads/2018/01/20180125-0502-01-580x400.jpg)">
          Aldeias
        </div>
      </a>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row justify-content-center">
    <% @places.each do |place|  %>
        <div class="col-6 col-lg-3 card-trip">
          <img src="https://img.freepik.com/premium-photo/winter-clothes-white-background-cozy-winter_325774-4647.jpg" />
          <div class="lower-info mt-2">
            <h3><%= place.name.capitalize %></h3>
            <h2><%= place.country %></h2>
            <h5><%= place.address %></h5>
            <p><%= place.description %></p>
          </div>
        </div>
    <% end %>
  </div>
</div>
